@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;  
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bayan-container {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: black;
}

.bayan-list {
    padding: 0;
}

li {
    list-style: none;
}

.bayan-item {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid gray;
    cursor: pointer;
}

.bayan-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    display: none;
}

.title {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 1vh;
    cursor: pointer;
    color: blue;
}

.bayan-icon {
    transition: transform 0.3s;
    display: none;
}

.bayan-meme {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    transition: width 0.1s, height 0.1s;
}

.bayan-list:hover > li > .bayan-item > .bayan-title > .title {
    color: black;
}

.bayan-list:hover > li > .bayan-item > .bayan-title > .bayan-icon {
    display: block;
}

.bayan-item input:checked+ .bayan-title+ .bayan-meme,
.bayan-item:hover > .bayan-meme {
    height: auto;
    width: 70%;
    height: 70%;
}

.bayan-item input:checked+ .bayan-title> .bayan-icon,
.bayan-item:hover > .bayan-title > .bayan-icon {
    transform: rotate(45deg);
}

.bayan-item:active > .bayan-meme{
    opacity: 0.7;
}







